<fieldset>
  <li>
    <%= f.label :phone_type, "Type" %>
    <%= f.text_field :phone_type %>
    <%= f.label :number, "Number" %>
    <%= f.text_field :number %>
    <% unless local_assigns[:top_level] %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove", '#', class: "remove_fields" %>
    <% end %>
  </li>
</fieldset>
