<%= form_for @person do |person_form| %>
  <p>
    <%= render partial: "fields", locals: { f: person_form } %>
  </p>
  <ul class="phone-numbers">
    <%= person_form.fields_for :phones do |phone_fields| %>
      <%= render partial: "phones/fields",
                 locals: { f: phone_fields } %>
    <% end %>
    <p><%= link_to_add_fields "Add Phone", person_form, :phones %></p>
  </ul>
  <% if @person.new_record? %>
  <p>Save the person to enable setting children and parents.</p>
  <% end %>
  <hr>
  <%= person_form.fields_for :children do |child_form| %>
  text
  <% end %>
  <hr>
  <%= render partial: "children/index", locals: { f: person_form } %>
  <!-- <h3>Children</h3>
  <ul>
    <%= person_form.collection_check_boxes(:child_ids,
      Person.all,
      :id,
      :name) do |box| %>
      <li>
        <%= box.check_box(
                  disabled: @person.and_ancestors.include?(box.object) ||
                              @person.new_record?
                ).concat(box.label) %>
      </li>
    <% end %>
  </ul> -->
  <hr>
  <h3>Parents</h3>
  <ul>
  <%= person_form.collection_check_boxes(:parent_ids,
                                         Person.all,
                                         :id,
                                         :name) do |box| %>
    <li>
      <!-- Some interesting code here. You need the onchange because your want
           the current value from the browser, so it has to come from Javascript.
           The `data` hash is standard Rails UJS, but you have to have set up
           the routing. -->
      <!-- FIXME: This whole approach is wrong, too, because when I refresh the
           other box, I'll overwrite whatever changes the user has made and not
           saved. -->
      <%= box.check_box(disabled: @person.and_descendants.include?(box.object) ||
                          @person.new_record?,
                        onchange: "$(this).data('params', 'checked=' + this.checked * this.checked)",
                        data: {
                          remote: true,
                          url: @person.persisted? ? children_path(@person.id) : "#",
                          method: :get
                          })
             .concat(box.label) %>
    </li>
    <% end %>
  </ul>
  <h3>Connections</h3>
  <%= person_form.collection_check_boxes(:connected_person_ids, Person.all, :id, :name) %>
  <p><%= person_form.submit %></p>
<% end %>
