<%= form_for @person do |person_form| %>
  <p>
    <%= render partial: "fields", locals: { f: person_form } %>
  </p>
  <ul class="phone-numbers">
    <%= person_form.fields_for :phones do |phone_fields| %>
      <%= render partial: "phones/fields",
                 locals: { f: phone_fields } %>
    <% end %>
    <p><%= link_to_add_fields "Add Phone", person_form, :phones %></p>
  </ul>
  <p><%= person_form.submit %></p>
<% end %>
